<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFH.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>319152608F7AADEB55679ACCA567724D0CCAF641</string>
				<key>dateExpires</key>
				<string>01/02/2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>773Q4FCUCP.il.org.haverim.rn</string>
				<key>com.apple.developer.team-identifier</key>
				<string>773Q4FCUCP</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>773Q4FCUCP.il.org.haverim.rn</string>
				</array>
			</dict>
			<key>name</key>
			<string>FFH.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0876ce98-30cb-4031-b2f4-86859d873d01</string>
				<key>name</key>
				<string>Friends for Health</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>773Q4FCUCP</string>
				<key>name</key>
				<string>Interwise Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
